@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
#tinymce .study-main {
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
  height: 100%;
}
#tinymce .study-main .study-overview {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
  height: 100%;
}
#tinymce .study-main .study-frame {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-main .study-frame .study-term, #tinymce .study-main .study-frame .study-definition {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-main .study-frame .study-term h4, #tinymce .study-main .study-frame .study-definition h4 {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-main .study-frame h3:after {
  color: #942a25;
}
#tinymce .ioc-news .imatge-noticia {
  margin-left: 0;
}
#tinymce .ioc-news .imatge-noticia img, #tinymce .ioc-news .imatge-noticia figcaption {
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .ioc-news .imatge-noticia figcaption {
  margin-top: -2px;
  padding-left: 5px;
}
#tinymce .ioc-news .ioc-news-content {
  padding: 0 0.5em;
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-tabs .nav-tabs {
  counter-reset: numtab;
  clear: both;
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-tabs .nav-tabs li {
  display: inline-block;
  margin-left: 2em;
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-tabs .nav-tabs li:before {
  counter-increment: numtab;
  content: counter(numtab);
  color: #d9534f;
  margin: -1em 0 0 -0.5em;
  float: left;
}
#tinymce .study-tabs .nav-tabs:after {
  content: '\002b';
  color: #d9534f;
  font-family: 'Glyphicons Halflings';
  margin-left: 1em;
  cursor: pointer;
}
#tinymce .study-tabs .tab-content {
  counter-reset: numtabcontent;
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-tabs .tab-content .tab-pane {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-tabs .tab-content .tab-pane:before {
  counter-increment: numtabcontent;
  content: counter(numtabcontent);
  color: #d9534f;
  margin: -1em 0 0 -0.5em;
  float: left;
}
#tinymce .study-more-info {
  box-sizing: border-box;
  border: 2px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .study-more-info .panel-heading, #tinymce .study-more-info .panel-title, #tinymce .study-more-info .panel-body, #tinymce .study-more-info .more-section, #tinymce .study-more-info .more-section-content, #tinymce .study-more-info h3 {
  box-sizing: border-box;
  border: 1px dashed #d9534f;
  padding: 1em;
  background-color: #fafafa;
}
#tinymce .col-md-1, #tinymce .col-md-2, #tinymce .col-md-3, #tinymce .col-md-4, #tinymce .col-md-5, #tinymce .col-md-6, #tinymce .col-md-7, #tinymce .col-md-8, #tinymce .col-md-9, #tinymce .col-md-10, #tinymce .col-md-11, #tinymce .col-md-12 {
  float: left;
}
#tinymce .col-md-8 {
  width: 66.66667%;
}
#tinymce .col-md-4 {
  width: 33.33333%;
}
