@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-regular.eot") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-light.eot") format("embedded-opentype"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype"), url("../fonts/opensans-light.svg#OpenSansLight") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-semibold.eot") format("embedded-opentype"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg#OpenSansSemibold") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-bold.eot") format("embedded-opentype"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"), url("../fonts/opensans-bold.svg#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-italic.eot") format("embedded-opentype"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype"), url("../fonts/opensans-italic.svg#OpenSansItalic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-lightitalic.eot") format("embedded-opentype"), url("../fonts/opensans-lightitalic.woff") format("woff"), url("../fonts/opensans-lightitalic.ttf") format("truetype"), url("../fonts/opensans-lightitalic.svg#OpenSansLightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-semibolditalic.eot") format("embedded-opentype"), url("../fonts/opensans-semibolditalic.woff") format("woff"), url("../fonts/opensans-semibolditalic.ttf") format("truetype"), url("../fonts/opensans-semibolditalic.svg#OpenSansSemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-bolditalic.eot") format("embedded-opentype"), url("../fonts/opensans-bolditalic.woff") format("woff"), url("../fonts/opensans-bolditalic.ttf") format("truetype"), url("../fonts/opensans-bolditalic.svg#OpenSansBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@mixin headercolor($color) {
    .page-header {
        > h1:before {
            content: '|';
            color: $color;
        }
    }
}

@mixin tabcolor($background, $color) {
    .nav-tabs {
        li a:hover {
            background-color: lighten($background, 30%);
        }
        li.active a {
            background-color: $background;
            color: $color;
        }
        .panel-heading.active {
           background-color: $background;
        }
    }
}

@mixin study-bg-color($color, $time) {
    &:hover {
        box-shadow: inset 0 0 0 3px $color;
        background-color: rgba($color, 0.2);
    }
    -webkit-transition: background-color $time ease-out, box-shadow 0.5s ease-out;
    -moz-transition: background-color $time ease-out, box-shadow 0.5s ease-out;
    -o-transition: background-color $time ease-out, box-shadow 0.5s ease-out;
    transition: background-color $time ease-out, box-shadow 0.5s ease-out;
    box-shadow: inset 0 0 0 0 $color;
    background-color: rgba($color, 0.8);
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

label, input, button, select, textarea, a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

a {
    color: $ioc-link;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h5 {
    //font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4, h5 {
    font-size: 14px;
}

button:focus {
    outline: 0 !important;
}

.fluid-container {
  overflow: hidden;
}

.headroom--not-top {
    line-height: 1em !important;
    #top {
        display: none;
    }
    #navigation #brand {
        padding: 3px 0;
    }
    .navbar-default {
        .navbar-header {
            margin-top: 1px;
        }
        .navbar-collapse {
            .navbar-nav {
                margin-top: 18px;
                a,
                button {
                    padding: 0 9px 11px;
                }
                &.login-campus,
                &.search {
                    margin-top: 13px;
                    padding: 0;
                    button {
                        padding-bottom: 11px;
                    }
                }
            }
        }
    }
}

#top {
    height: 40px;
    padding: 5px 0;
    color: $ioc-black;
    &.navbar-inverse {
        background-color: $ioc-white;
    }
    .logoheader {
        padding-left: 2em;
    }
    .mod-languages {
        .lang-active {
            font-weight: bold;
        }

        li {
            &:last-child {
                border-right: none;
                margin: 0;
            }
            border-right: 1px solid $ioc-black;
            margin-left: 5px;
            padding: 0 5px;

            a {
                color: $ioc-black;
                text-transform: uppercase;
            }
        }

    }
}

#search {
    &.search-top {
        top: 103px;
    }
    position: fixed;
    top: 50px;
    left: 0;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

#main-box {
    padding: 0;
    .item-page {
        padding: 0 1em 1em 1em;
        .page-header {
            &.iocnewsarticle {
                border-bottom: 0;
                h1 {
                    color: $ioc-blue-heading;
                    &:before{
                        content: '|';
                        color: $ioc-blue-heading;
                    }
                }
            }
            h2 {
                margin-bottom: 0;
                font-weight: 600;
            }
        }
    }
    .search {
        margin-top: 1em;
        .search-results {
            .result-title {
                &:first-child {
                    border-top: none;
                    padding-top: 0;
                    margin-top: 0;
                }
                border-top: 1px solid #ddd;
                padding-top: 1em;
                margin-top: 0.5em;
            }
        }
    }
    .semiheader {
        font-weight: 600;
    }
}

#main {
    padding-top: 0;
}

#news {
    .items-row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .link_items {
        h4 {
            color: $ioc-gray-dark;
            text-transform: uppercase;
        }
        .nav-tabs {
            border-bottom: 0;
            margin: 0 0 10px 15px;
            li {
                list-style-type: none;
                margin-bottom: 1.5em;
                display: list-item;
                &:before {
                    content: '\e080';
                    font-family: "Glyphicons Halflings";
                    margin-left: -17px;
                }
                a {
                    border: 0;
                    padding:0;
                    display: inline;
                    &:hover {
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#news .page-header,
.all-studies .page-header {
    padding-bottom: 0;
    h2 {
        margin-bottom: 2px;
        font-size: 1.75em;
        color: $ioc-gray-dark;
    }
}

body #wrap {
    padding-top: 100px;

    section {
        padding-top: 2px;
    }
}


#myCarousel {
    margin-top: 0;
    .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        min-height: 300px;
    }
    .carousel-caption {
        border-radius: 3px;
        z-index: 1;
        padding: 1em 0 6em;
        bottom: 0;
        width: 100%;
        left: 0;
        //background-color: rgba(0,0,0,0.4);
        background: linear-gradient(0deg, rgba(#000,0.9), rgba(#000,0.5), rgba(#000,0)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //background: -moz-linear-gradient(-180deg, rgba(#fff,1), rgba(#fff,1), rgba(#fff,0)); /* FF3.6-15 */
        //background: -webkit-linear-gradient(-180deg, rgba(#fff,1), rgba(#fff,1), rgba(#fff,0)); /* Chrome10-25,Safari5.1-6 */
        h1 {
            a,
            a:hover {
                color: $ioc-white;
            }
        }
        .carousel-introtext {
            //height: 4.2em;
            overflow: hidden;
            &.tiny-important:before {
                content: '';
            }
            &:before {
                content: '...';
                position: absolute;
                right: 0;
                bottom: 1.8em;
                background: transparent;
                width: 2em;
                text-align: center;
            }
            &:after {
              content: '';
              position: absolute;
              width: 1em;
              height: 5em;
              margin-top: 0.2em;
              background: transparent;
            }
        }

        p {
            font-size: 20px;
        }
    }

    .carousel-indicators {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 10px 0 0;
            overflow: auto;
            text-align: center;
            font-size: 1.1em;
            width: 100%;
            li, a {
                &.active {
                    background-color: rgba($ioc-blue-heading, .9);
                }
                &:hover {
                    text-decoration: underline;
                }
                &:first-child {
                    border: none;
                }
                -webkit-border-radius: 0;
                border-radius: 0;
                border: none;
                border-left: 1px solid $ioc-white;
                color: $ioc-white;
                display: inline-block;
                height: auto;
                margin: 0 0 0 -4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 10em;
                text-indent: 0;
                padding: 4px 6px;
            }
    }
}

#navigation {
    box-shadow: none;
    .navbar {
        background-color: $ioc-bg-header;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid $ioc-bd-header;
    }

    #brand {
        img {
            padding: 0;
        }
        padding: 0;
        .logo {
            margin-right: 4em;
        }
        .logo-small {
            margin-right: 0;
        }
    }
}

#breadcrumbs {
    background-color: #efefef;
    .breadcrumb {
        background-color: #efefef;
    }
}

#content-top {
    .menu-nav {
        border: 1px solid #efefef;
        width: 17em;
    }
}

#content {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

#container {
    min-height: -webkit-calc(100vh - 102px);
    min-height:    -moz-calc(100vh - 102px);
    min-height:         calc(100vh - 102px);

    .container {
        @include headercolor($ioc-blue-standard);
        &.item-pageges {
            @include headercolor($ioc-bg-ges);
        }
        &.item-pagebtx {
            @include headercolor($ioc-bg-btx);
        }
        &.item-pagefp {
            @include headercolor($ioc-bg-fp);
        }
        &.item-pagefpmig {
            @include headercolor($ioc-bg-fpmig);
        }
        &.item-pagefpsup {
            @include headercolor($ioc-bg-fpsup);
        }
        &.item-pageeoi {
            @include headercolor($ioc-bg-eoi);
        }
        &.item-pagefpd {
            @include headercolor($ioc-bg-fpd);
        }
        &.item-pageppags {
            @include headercolor($ioc-bg-ppags);
        }
        &.item-pageminiops {
            @include headercolor($ioc-bg-miniops);
        }
        &.item-pageentcol {
            @include headercolor($ioc-bg-entcol);
        }
        &.item-pagemeb {
            @include headercolor($ioc-bg-meb);
        }
        &.item-pagefnr {
            @include headercolor($ioc-bg-fnr);
        }
    }
}

.navbar-default {
    .navbar-toggle {

        &:focus, &:hover {
            background-color: $ioc-blue-dark;
        }
        .icon-bar {
            background-color: $ioc-white;
        }
    }

    .navbar-collapse {
        height: 60px;
        line-height: 1em;

        .navbar-nav {
            width: auto;
            margin-top: 25px;
            &.search,
            &.login-campus {
                margin-top: 23px;
                li {
                    &:hover {
                        border-bottom: none;
                    }
                }
                button {
                    font-size: 1.1em;
                    background-color: transparent;
                    border: none;
                    color: $ioc-white;
                    text-transform: uppercase;
                    padding: 0 5px 14px 5px;
                    &:hover {
                        background-color: transparent;
                        border-bottom: 4px solid $ioc-blue-standard;
                    }
                    &[aria-expanded="true"],
                    &:hover[aria-expanded="true"] {
                        border-bottom: 4px solid $ioc-blue-standard;
                        .glyphicon {
                            font-weight: 600;
                        }
                        color: $ioc-white;
                        font-weight: 600;
                    }
                }
            }

            li {
                -webkit-transition:  border .15s ease-in-out, padding .35s ease-in-out;
                -moz-transition:  border .15s ease-in-out, padding .35s ease-in-out;
                -o-transition:  border .15s ease-in-out, padding .35s ease-in-out;
                transition: border .15s ease-in-out, padding .35s ease-in-out;
                border-bottom: 0 solid;
                &:hover {
                    border-bottom: 4px solid $ioc-blue-standard;
                }
                &.active {
                    border-bottom: 4px solid $ioc-blue-standard;
                    font-weight: 600;
                    a:hover {
                        color: $ioc-white;
                    }
                }
                a {
                    &:hover {
                        background-color: transparent;
                    }
                    text-transform: uppercase;
                    color: $ioc-white;
                    padding: 0 9px 17px;
                    font-size: 1.1em;
                }
            }
        }
    }
}

.social {
    a {
        -webkit-filter: opacity(70%); /* Chrome, Safari, Opera */
        filter: opacity(70%)
    }
    a:hover {
        text-decoration: none;
        -webkit-filter: opacity(100%); /* Chrome, Safari, Opera */
        filter: opacity(100%)
    }
    span {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }

    .glyphicons-social-linked-in {
        background: url('../images/glyphicons-social-linked-in.png') no-repeat scroll 0 0;
    }

    .glyphicons-social-twitter {
        background: url('../images/glyphicons-social-twitter.png') no-repeat scroll 0 0;
    }

    .glyphicons-social-vimeo {
        background: url('../images/glyphicons-social-vimeo.png') no-repeat scroll 0 0;
    }
}

.container {
    &.blog-featured {
        //font-size: 14px;
        font-size: 1em;
        .article-info {
            font-size: 0.8em;
        }
        h2 {
            font-size: 1.6em;
        }
        h3 {
            font-size: 1.4em;
        }
        div.pagination {
            width: 100%;
        }
        ul.pagination {
            text-align: center;
        }
        .readmore {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: uppercase;
            margin-top: 1em;
            a.btn {
                padding-left: 0;
            }
        }
    }
    &.all-studies {
        padding-top: 1em;
        .navbar-nav {
            width: 100%;
            margin-left: -15px;
            margin-right: -15px;
        }
        .block {
            clear: both;
        }
        .studies,
        .substudies {
            padding-top: 1em;
            .studies-content {
                .list-group-item {
                    background-color: transparent;
                    .study-img {
                        &:hover {
                            background-size: 105% 105%;
                        }
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        overflow: hidden;
                        background-position: center center;
                        -webkit-transition: background-size .5s ease-in-out;
                        -moz-transition: background-size .5s ease-in-out;
                        -o-transition: background-size .5s ease-in-out;
                        transition: background-size .5s ease-in-out;
                    }
                    border: none;
                    padding: 10px 10px;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                    font-size: 1.3em;
                    text-shadow: 1px 1px 2px #000;
                    padding: 0;
                    color: $ioc-white;
                    height: 200px;
                    display: table;
                    width: 100%;
                }
                .study-item {
                    display: table-cell;
                    vertical-align: bottom;
                    padding: 2em 3em 0.8em 0.8em;
                    font-weight: 600;
                    font-size: 1.1em;
                }
            }
        }
        .studies,
        .substudies {
            .studies-content {
                .list-group-item {
                    a {
                        @include study-bg-color($ioc-blue-standard, 1.5s);
                        &.ges {
                            @include study-bg-color($ioc-bg-ges, 1.5s);
                        }
                        &.btx {
                            @include study-bg-color($ioc-bg-btx, 1.5s);
                        }
                        &.fp {
                            @include study-bg-color($ioc-bg-fp, 1.5s);
                        }
                        &.fpmig {
                            @include study-bg-color($ioc-bg-fpmig, 1.5s);
                        }
                        &.fpsup {
                            @include study-bg-color($ioc-bg-fpsup, 1.5s);
                        }
                        &.eoi {
                            @include study-bg-color($ioc-bg-eoi, 1.5s);
                        }
                        &.fpd {
                            @include study-bg-color($ioc-bg-fpd, 1.5s);
                        }
                        &.ppags {
                            @include study-bg-color($ioc-bg-ppags, 1.5s);
                        }
                        &.miniops {
                            @include study-bg-color($ioc-bg-miniops, 1.5s);
                        }
                        &.entcol {
                            @include study-bg-color($ioc-bg-entcol, 1.5s);
                        }
                        &.meb {
                            @include study-bg-color($ioc-bg-meb, 1.5s);
                        }
                        &.fnr {
                            @include study-bg-color($ioc-bg-fnr, 1.5s);
                        }
                    }
                    .study-img {
                        background-image: url('../images/study-bg-default.jpg');
                    }
                }
            }
        }
        .studies,
        .substudies {
            margin-top: 1em;
            .newmatricula {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    border-left: 10px solid transparent;
                    border-right: none;
                    border-bottom: none;
                    border-top: 10px solid $ioc-matricula-bd;
                }

                position: absolute;
                width: 90%;
                background-color: $ioc-matricula;
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
                margin: 15px 15px 15px -10px;
                color: $ioc-white;
                text-align: center;
            }
            a[target="_blank"] {
                .study-item {
                    &:after{
                        display: inline-block;
                        content: '\e164';
                        font-family: "Glyphicons Halflings";
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    &.item-page {
        font-size: 15px;
        line-height: 1.5em;
    }
}

.study-overview {

}
.study-data {
    padding: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    .study-definition {
        padding-left: 1em;
        a {
            font-weight: 600;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
        .btn {
            &:hover {
                background-color: darken($ioc-matricula, 10%);
            }
            color: $ioc-white;
            background-color: $ioc-matricula;
            border-color: $ioc-matricula;
            margin-left: -0.5em;
            width: 100%;
        }
    }
    h3 {
        margin-top: 0px;
        &:after {
            content: '\e086';
            font-family: "Glyphicons Halflings";
            font-size: 2em;
            color: $ioc-white;
            float:right;
        }
    }
    h4 {
        font-size: 16px;
    }
    &.study-ges {
        background-color: $ioc-bg-ges;
    }
    &.study-btx {
        background-color: $ioc-bg-btx;
    }
    &.study-fp {
        background-color: rgba($ioc-bg-fp, 0.7);
    }
    &.study-fpmig {
        background-color: rgba($ioc-bg-fpmig, 0.7);
    }
    &.study-fpsup {
        background-color: rgba($ioc-bg-fpsup, 0.7);
    }
    &.study-eoi {
        background-color: $ioc-bg-eoi;
    }
    &.study-fpd {
        background-color: $ioc-bg-fpd;
        color: $ioc-white;
        a {
            color: $ioc-yellow;
        }
    }
    &.study-ppags {
        background-color: $ioc-bg-ppags;
    }
    &.study-miniops {
        background-color: $ioc-bg-miniops;
    }
    &.study-entcol {
        background-color: $ioc-bg-entcol;
        color: #111;
        a {
            color: #333;
        }
    }
    &.study-meb {
        background-color: $ioc-bg-meb;
        color: $ioc-white;
        a {
            color: $ioc-yellow;
        }
    }
    &.study-fnr {
        background-color: $ioc-bg-fnr;
        color: $ioc-white;
        a {
            color: $ioc-yellow;
        }
    }
    .study-frame {
        border: 2px dashed $ioc-white;
        padding: 10px;
    }
}
.study-tabs {
    clear: both;
    padding: 3em 0;
    border-bottom: 1px solid #ddd;
    &.study-ges {
        @include tabcolor($ioc-bg-ges, #000);
    }
    &.study-btx {
        @include tabcolor($ioc-bg-btx, #000);
    }
    &.study-fp {
        @include tabcolor($ioc-bg-fp, #000);
    }
    &.study-fpmig {
        @include tabcolor($ioc-bg-fpmig, #000);
    }
    &.study-fpsup {
        @include tabcolor($ioc-bg-fpsup, #000);
    }
    &.study-eoi {
        @include tabcolor($ioc-bg-eoi, #000);
    }
    &.study-fpd {
        @include tabcolor($ioc-bg-fpd, $ioc-white);
    }
    &.study-ppags {
        @include tabcolor($ioc-bg-ppags, #000);
    }
    &.study-miniops {
        @include tabcolor($ioc-bg-miniops, #000);
    }
    &.study-entcol {
        @include tabcolor($ioc-bg-entcol, #000);
    }
    &.study-meb {
        @include tabcolor($ioc-bg-meb, #000);
    }
    &.study-fnr {
        @include tabcolor($ioc-bg-fnr, $ioc-white);
    }
    .nav-tabs > li {
        &.active {
            padding-bottom: 1px;
            > a {
                color :#000;
                font-weight: bold;
                border: none;
                border-bottom: 1px solid #ddd;
            }
        }
        > a {
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            font-weight: 600;
        }
    }
}

.study-more-info {
    margin-top: 3em;
    .panel-heading {
        .panel-title {
            a {
                text-decoration: none;
                outline: none;
                &:before {
                    content: '\002b';
                    font-family: "Glyphicons Halflings";
                    margin: 0 10px 0 -5px;
                }
                &[aria-expanded="true"]:before {
                    content: '\2212';
                    font-family: "Glyphicons Halflings";
                }
            }
        }
    }
    .panel-section-info {
        padding: 0;
        margin: 0;
    }
}

.tiny-search,
.tiny-campus {
    .navbar-toggle {
        &[aria-expanded="false"] {
            &:hover {
                background-color: $ioc-blue-dark;
            }
            background-color: transparent;
        }
        &[aria-expanded="true"] {
            background-color: $ioc-blue-dark;
        }
        color: $ioc-white;
        margin-bottom: 2px !important;
        margin-top: 10px !important;
    }
}


.form-search {
    width: 100%;
    text-align: center;
    background-color: $ioc-bg-gray;
    padding-top: 0;
    padding-bottom: 10px;
    .btn-search {
        margin-bottom: 3px;
    }
    .btn-reset-search {
        border-color: transparent;
        margin-top: -2px;
        margin-left: -37px;
        padding: 4px 10px;
    }
    .btn-reset-search:hover {
        background-color: transparent;
    }
    .search {
        input[type="search"] {
            &:focus {
                border: 1px solid #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                outline: 0 none;
            }
            width: 90%;
            border-radius: 5px;
        }
    }
}

#login-campus {
    &.login-campus {
        h1 {
            font-weight: bold;
        }
        .logo-login {
            display: inline-block;
            background: url('../images/ioc_logo_login.png') no-repeat scroll 0 0;
            width: 191px;
            height: 40px;
        }

        .input-group {
            margin: 10px 10px;
        }
        button {
            font-weight: 600;
        }

        input {
            font-size: 1.2em;
        }
        .login-help {
            margin-left: 15px;
        }
    }
}

/* styles for '...' */
.intro-featured-article {
  overflow: hidden;
  position: relative;
  color: $ioc-featured-text;
  /* max-height = line-height (1.2) * lines max number (3) */
  height: 10em;
  text-align: justify;
  p, div {
    margin: 0;
  }
}
/* create the ... */
.intro-featured-article:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background: $ioc-white;
    background: linear-gradient(-90deg, rgba($ioc-white,1), rgba($ioc-white,1), rgba($ioc-white,0)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -moz-linear-gradient(-180deg, rgba($ioc-white,1), rgba($ioc-white,1), rgba($ioc-white,0)); /* FF3.6-15 */
    background: -webkit-linear-gradient(-180deg, rgba($ioc-white,1), rgba($ioc-white,1), rgba($ioc-white,0)); /* Chrome10-25,Safari5.1-6 */
    width: 2em;
    text-align: right;
}

.intro-featured-article.tiny-article:before {
    content: '';
}
/* hide ... if we have text, which is less than or equal to max lines */
.intro-featured-article:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.map-responsive{
    position:absolute;
    height:100%;
    width: 100%;
    left: -2px;
    top: 1px;
    iframe {
        left:1em;
        top:0;
        height:100%;
        width:99%;
        position:absolute;
        border: 0;
    }
    .ioclegend {
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        background-color: rgba($ioc-white, 0.7);
        border: 1px solid;
        padding: 1em;
        font-family: Roboto, Arial, sans-serif;
        .mapicon {
            display: inline-block;
            max-height: 21px;
            max-width: 21px;
        }
        .maptext {
            display: inline-block;
        }
    }
}

.ioc-news {
    .imatge-noticia {
        width: 30%;
        margin-right: 1em;
        img {
            height: auto;
            max-width: 100%;
            float: left;
            margin: 0 15px 0 0;
        }
        figcaption {
            clear: left;
            float: left;
            font-size: 0.8em;
            width: 100%;
            margin: 0 15px 0 0;
        }
    }
    img {
        max-width: 60%;
        height: auto;
    }
    ul {
        display: inline-block;
    }
}

#system-message-container {
    // margin-top: 14px;
}

.back-to-top {
    outline: none;
    font-size: 16px;
    color: $ioc-white;
    background-color: $ioc-blue-standard;
    border-radius: 5px;
    margin-right: 0.8em;
    &:hover {
        color: $ioc-white;
        background-color: $ioc-blue-dark;
    }
    &:focus {
        color: $ioc-white;
    }
}

.footer {
//    margin-top: 1em;
    background-color: #efefef;
    padding: 1em;
    font-size: 0.857em;
    .avis_legal {
        border-top: 2px solid #ccc;
        padding-top: 20px;
        clear: both;
    }
    ul {
        padding-left: 15px;
    }
    a {
        color: $ioc-footer-link;
    }
    h3 {
        color: $ioc-footer-heading;
        font-size: 1.50em;
    }
    .moduletable {
        padding: 0;
        float: left;
        margin-right: 1em;
        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    .footer2 {
        clear: both;
    }
}

.ioc-keyword-selected {
    button {
        background-color: rgba(darken($ioc-bg-fp, 15%), 0.7) !important;
    }
}

.ioc-fp-family {
    clear: both;
    padding-top: 2em;
    ul {
        background-color: $ioc-bg-gray;
        text-align: center;
        li {
            list-style-type: none;
            display: inline-block;
            margin: 1em 2em 1em 0;
            button {
                &:hover {
                    background-color: rgba(darken($ioc-bg-fp, 15%), 0.7);
                }
                width: 50px;
                height: 50px;
                background-color: rgba($ioc-bg-fp, 0.7);
                padding: 0;
            }
        }
    }
}

.error {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #efefef;
    height: 100vh;
    .element-invisible {
        display: none;
    }
    .container {
        padding: 20px 0;
    }
    .error-bg {
        background-image: url('../images/carousel-default.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 370px;
        box-shadow: 0 1px 5px #333;
    }
    .error-text {
        color: $ioc-white;
        text-align: center;
        background-color: rgba($ioc-black, 0.7);
        height: 100%;
        margin: 0 auto;
        padding: 6em 1em;
        h1 {
            font-size: 90px;
        }
        h3 {
            margin-top: 0;
            padding-top: 1em;
        }
    }
    .error-search {
        padding: 50px 0 !important;
        .search-query {
            width: 50%;
            border-radius: 5px;
            margin-right: 3px;
            padding: 15px;
            font-size: 1.5em;
        }
        button {
            padding: 16px;
            margin-top: -6px;
        }
    }
    .footer.container {
        padding-top: 100px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .headroom--not-top {
        #navigation #brand {
            margin-left: 10px;
            padding-top: 10px;
        }
    }
    .headroom--top {
        #navigation #brand {
            margin-left: 10px;
            padding-bottom: 5px;
        }
    }
    .navbar-toggle {
        padding: 15px 5px !important;
    }
    .navbar-default {
        .navbar-collapse {
            height: 100%;
            .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                li {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-bottom: 1px solid $ioc-white !important;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover{
                        background-color: $ioc-blue-dark;
                    }
                }
            }
        }
    }
    .container {
        padding: 0 8px;
    }
    .mod-languages {
        font-size: 0.9em;
    }
    .container {
        &.all-studies {
            .studies, .substudies {
                .studies-content {
                    .list-group-item {
                        .study-item {
                            padding: 5px 10px;
                        }
                        padding: 2px;
                    }
                    .newmatricula {
                        &:before {
                            content: "";
                            border: none;
                        }
                        margin-left: 0px;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .blog-featured {
        .item {
            border-bottom: 1px solid #e8e8e8;
            padding: 20px 0;
        }
    }

    #myCarousel {
        .item {
            min-height: 250px;
        }
        .carousel-indicators {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 10px 0 0;
            overflow: auto;
            text-align: center;
            width: 100%;
            li, a {
                &.active {
                    background-color: $ioc-white;
                    text-decoration: none;
                }
                &:first-child {
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: 1px solid $ioc-white;
                }
                &:last-child {
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $ioc-white;
                color: $ioc-white;
                display: inline-block;
                height: 10px;
                margin: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 10px;
                text-indent: -999px;
                padding: 0;
            }
        }
    }
    #news {
        .items-row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .pagination .pagenumber {
        display: none;
    }
    #search {
        top: 71px;
        &.search-top {
            top: 110px;
        }
    }
    #main-box {
        .item-page {
            .page-header {
                &.iocnewsarticle {
                    //margin-top: 3.5em;
                }
            }
        }
    }
    .ioc-news {
        .imatge-noticia {
            width: 100%;
            figcaption {
                margin-bottom: 15px;
            }
        }
        img {
            width: 100%;
        }
    }
}

/* Small Devices, Tablets */
@media (min-width: 481px) and (max-width: 767px) {
    .headroom--not-top {
        #navigation #brand {
            margin-left: 1em;
            padding-top: 10px;
        }
    }
    .navbar-default {
        .navbar-collapse {
            height: 100%;
            .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                li {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-bottom: 1px solid $ioc-white !important;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover{
                        background-color: $ioc-blue-dark;
                    }
                }
            }
        }
    }

    #myCarousel {
        .item {
            min-height: 300px;
        }
        .carousel-caption {
            p {
                font-size: 1em;
            }
        }
        .carousel-indicators {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 10px 0 0;
            overflow: auto;
            text-align: center;
            width: 100%;
            li, a {
                &.active {
                    background-color: $ioc-white;
                    text-decoration: none;
                }
                &:first-child {
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: 1px solid $ioc-white;
                }
                &:last-child {
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $ioc-white;
                color: $ioc-white;
                display: inline-block;
                height: 10px;
                margin: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 10px;
                text-indent: -999px;
                padding: 0;
            }
        }
    }
    .container {
        &.all-studies {
            .studies, .substudies {
                .studies-content {
                    .list-group-item {
                        .study-item {
                            padding: 5px;
                        }
                        padding: 3px;
                        .newmatricula {
                            &:before {
                                content: "";
                                border: none;
                            }
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
    .blog-featured {
        .item {
            border-bottom: 1px solid #e8e8e8;
            padding: 20px 0;
        }
    }

    #news {
        .items-row {
            margin-left: 0;
            margin-right: 0;
        }
        .item {
            clear: both;
            display: table;
            margin-bottom: 1em;
            position: relative;
            .heading-img {
                overflow: hidden;
                padding-right: 15px;
                width: 150px;
            }
            .news-text {
                display: table-cell;
                vertical-align: top;
                h3 {
                    padding: 0;
                    margin: 0 0 0.5em;
                }
                .article-info,
                .icons {
                    display: none;
                }
            }
        }
    }

    #search {
        top: 71px;
        &.search-top {
            top: 110px;
        }
    }

    .pagination .pagenumber {
        display: none;
    }

    #main-box {
        .item-page {
            .page-header {
                &.iocnewsarticle {
                    //margin-top: 3.5em;
                }
            }
        }
    }

    .ioc-news {
        .imatge-noticia {
            width: 100%;
            figcaption {
                margin-bottom: 15px;
            }
        }
        img {
            width: 100%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        padding-right: 10px;
        &.navbar-right {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    .blog-featured {
        .item {
            border-bottom: 1px solid #e8e8e8;
            padding: 20px 0;
        }
    }
    #news {
        .items-row {
            margin-left: 0;
            margin-right: 0;
        }
        .item {
            clear: both;
            display: table;
            margin-bottom: 1em;
            position: relative;
            .heading-img {
                overflow: hidden;
                padding-right: 15px;
                width: 150px;
            }
            .news-text {
                display: table-cell;
                vertical-align: top;
                h3 {
                    padding: 0;
                    margin: 0 0 0.5em;
                }
                .article-info,
                .icons {
                    display: none;
                }
            }
        }
    }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .blog-featured {
        .item {
            border-bottom: 1px solid #e8e8e8;
            padding: 20px 15px;
            height: 650px;
        }
    }
}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
    #myCarousel {
        .item {
//            height: 50vh;
        }
    }
}