$custom_red:    rgb(217, 83, 79);
$ioc-link:      #23527c;

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#tinymce {

    @mixin borderioc($width, $color) {
        box-sizing: border-box;
        border: $width dashed $color;
        padding: 10px;
        background-color: #fafafa;
    }

    @mixin numbertab($number) {
        content: $number;
        color: $custom_red;
        margin: -11px 0 0 -8px;
        float: left;
    }

    @mixin addelement($color) {
        content: '\002b';
        background-color: $color;
        color: #fff;
        font-family: 'Glyphicons Halflings';
        margin-left: 1em;
        cursor: pointer;
        padding: 1px 2px 1px 3px;
        pointer-events: auto;
    }

    @mixin removeelement($color) {
        content: '\2212';
        font-family: "Glyphicons Halflings";
        background-color: $color;
        color: #fff;
        float: right;
        cursor: pointer;
        padding: 0 2px;
        pointer-events: auto;
    }

    .study-main {
        .col-md-6 {
            width: 49% !important;
        }
        @include borderioc(2px, $custom_red);
        height: 100%;
        .study-overview {
            @include borderioc(1px, $custom_red);
            height: 100%;
        }
        .study-data {
            .study-header-img {
                top: -28px;
                left: 47.5%;
                width: 50%;
            }
            @include borderioc(1px, $custom_red);
            color: #000;
            .study-col {
                pointer-events: none;
                @include borderioc(1px, $custom_red);
                padding: 0 10px;
                &:after {
                    @include addelement($custom_red);
                    float: right;
                    margin: -4px -10px 0 0;
                }

                h4,
                .study-definition {
                    @include borderioc(1px, $custom_red);
                    pointer-events: none;
                    &:first-child,
                    &:nth-child(2) {
                        &:before {
                            content: '';
                        }
                    }
                    &:before {
                        @include removeelement($custom_red);
                        margin: -10px -10px 0 0;
                    }
                }
                .study-date,
                .study-days,
                .study-month,
                .semiheader {
                    @include borderioc(1px, $custom_red);
                    color: #000;
                }
                .btn {
                    background-color: transparent;
                }
            }
            h3:after {
                color: #942A25;
            }
            a {
                pointer-events: auto;
                cursor: pointer;
                color: $ioc-link;
            }
        }
        .study-buttons {
            margin-top: 0;
            > div {
                @include borderioc(1px, $custom_red);
            }
        }
    }
    .ioc-news {
        .imatge-noticia {
            margin-left: 0;
            img, figcaption {
                @include borderioc(2px, $custom_red);
            }
            figcaption {
                margin-top: -2px;
                padding-left: 5px;
            }
        }
        .ioc-news-content {
            padding: 0 0.5em;
            @include borderioc(2px, $custom_red);
        }
    }
    .study-tabs {
        .nav-tabs{
            counter-reset: numtab;
            clear: both;
            @include borderioc(2px, $custom_red);
            pointer-events: none;
            li {
                display: inline-block;
                margin-left: 1em;
                margin-bottom: 1em;
                pointer-events: none;
                @include borderioc(1px, $custom_red);
                &:first-child{
                    &:after {
                        content: '';
                    }
                }
                &:before {
                    counter-increment: numtab;
                    @include numbertab(counter(numtab));
                }
                &:after {
                    @include removeelement($custom_red);
                    margin: -36px -18px 0 0;
                }
                &.active a {
                    background-color: transparent;
                }
                a {
                    &:hover {
                        background-color: transparent;
                    }
                    cursor: pointer;
                    pointer-events: auto;
                    color: $ioc-link;
                }
            }
            &:after {
                @include addelement($custom_red);
            }
        }
        .tab-content {
            counter-reset: numtabcontent;
            @include borderioc(2px, $custom_red);
            .tab-pane {
                @include borderioc(1px, $custom_red);
                &:before {
                    counter-increment: numtabcontent;
                    @include numbertab(counter(numtabcontent));
                }
            }
        }
    }
    .study-more-info {
        @include borderioc(2px, $custom_red);
        .panel-heading,
        .panel-title,
        .panel-body,
        .more-section,
        .more-section-content,
        h4 {
            @include borderioc(1px, $custom_red);
        }
        .title-more-information {
            margin-top: 0;
        }
        .panel-heading {
            .custom-icon {
                &.plus {
                    display: none;
                }
            }
        }

        .panel-title {
            a {
                padding: 5px;
            }
        }
    }
    #panel-sections {
        pointer-events: none;
        &:after {
            @include addelement($custom_red);
            float: right;
            margin-right: -11px;
            margin-top: -9px;
        }
        .panel-heading {
            a {
                cursor: pointer;
                pointer-events: auto;
            }
        }
        .panel.panel-default {
            pointer-events: none;
            &:first-child{
                &:before {
                    content: '';
                }
            }
            &:before {
                @include removeelement($custom_red);
            }
        }
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
}
