$ioc-bg-header:       #202b47;
$ioc-black:           #182825;
$ioc-link:            #337ab7;
$ioc-link-navbar:     #4bcdaf;
$ioc-bd-campus:       #2f3b5c;
$ioc-link-carousel:   #07fddd;
$ioc-link2-carousel:  rgba(59,88,96,0.90);
$ioc-login-bg:        rgba(59,88,96,0.74);
$ioc-white:           #ffffff;
$ioc-bg-gray:         #eeeeee;
$ioc-footer-heading:  #333333;
$ioc-bg-news-layer:   rgba(246, 249, 255, 0.85);
$ioc-bg-fp:           #fc4c00;
$ioc-bg-fpmig:        lighten($ioc-bg-fp, 10%);
$ioc-bg-fpsup:        darken($ioc-bg-fp, 10%);
$ioc-featured-text:   #1b252d;
$ioc-matricula:       #bf0000;
$ioc-matricula-bd:    #8f0808;
$ioc-text:            #354959;
$ioc-text2:           #364958;
$ioc-separator:       rgba(255,255,255,.3);
$ioc-footer-text:     #f9f9f9;
$ioc-footer-title:    #f5f5f5;
$ioc-footer-bottom:   #7b8f94;
$ioc-bg-footer-t:     #31525a;
$ioc-bg-footer-b:     #20373d;
$ioc-bg-pagination:   #a4fbef;
$ioc-bg-pag-mobile:   rgba(164, 251, 239, 0.25);
$ioc-bg-collapse:     #657c82;
$ioc-bg-study-date:   #b9d4d5;
$ioc-semiheader:      #fbecee;
$ioc-study-button:    #005578;
$ioc-moreinfo-tab:    #edf4f7;//#f1f9fd;
$ioc-bg-employment:   #f4f8ff;
$ioc-bd-employment:   #050708;
$ioc-featured-news:   #f08181;
$ioc-bg-moreinfo:     #d5e3fa;
$ioc-semiheader-mb:   #83a1b9;
$ioc-bg-form-login:   #f8faff;
$ioc-accent:          #01c1b9;
$ioc-submenu:         #ecf3f7;
$ioc-eoi-study:       #fc9601;
$ioc-fp-study:        #0f9e73;
$ioc-module-bottom:   #829cb0;
$ioc-backdrop:        #1e303e;
$ioc-header-mini:     60px;
$ioc-header-big:      130px;
$ioc-header-margin:   50px;

$ioc-title-default:   #e7edfb;
$ioc-title-study1:    #fff2f3;
$ioc-title-study2:    #fff6e8;
$ioc-title-study3:    #e1fff6;
$ioc-title-study4:    #fbf9f5;
$ioc-title-study5:    #fce9ef;
$ioc-title-study6:    #eaeeff;
$ioc-title-study7:    #ddebec;

$ioc-article-date:    #728696;
$ioc-btx-assign:      #5651a2;
$ioc-table-th:        #e7ecf1;
$ioc-table-td:        rgba(185, 213, 234, 0.16);
$ioc-study-acfgs:     #476f7c;
$ioc-study-btx:       #6e6ca2;
$ioc-study-btx-mat:   #41b0c8;
$ioc-study-eoi:       #fc9601;
$ioc-study-fesp:      #982649;
$ioc-study-fp:        #10b07f;
$ioc-study-ges:       #d14c5e;
$ioc-title-module:    #5b6b78;
$ioc-title-ges:       #eb5066;
$ioc-faqs:            #293658;
$ioc-breadcrumb-eoi:  #c47200;
$ioc-breadcrumb-fp:   #0e7554;
$ioc-bg-back-to-top:  #08191d;
$ioc-back-to-top:     #eafff9;
$ioc-placeholder:     #8fa4aa;
$ioc-cross:           #f4f8fb;
$ioc-delete-icon:     #dee3e7;
$ioc-btn-search-2nd:  #d7d9de;

$ioc-competic-colors: #5874f6, #e9edff, #112fb9, rgba(47, 73, 202, 0.81), #e3eafb, #95b0f1, #2f49ca, #5468cd, #2f49ca, #2f49ca;
$ioc-fpd-colors:      #f6bb2f, #ffffff, #fff5e2, #ecb023, #eaedef, #de9c02, #de9c02, #ecb023, #f6ad03, #f6ad03;
$ioc-ges-colors:      #d14c5e, #ffe7e8, #9a1b2d, #ba2f43, #d2e1e5, #d14c5e, #d14c5e, #e15064, #e15064, #d14c5e;
$ioc-pau-colors:      #508d90, #ddebec, #2d5958, #386d6c, #b9d4d5, #196a6e, #508d90, #508d90, #508d90, #508f92;

$ioc-bg-panel:       #f2f6f9;
$ioc-bd-button:      #e7ecf0;
$ioc-bg-panel-res:   #e2e7f2;
$ioc-bottom-res:     rgba(72, 90, 134, 0.5);
