$ioc-bg-header:      #005677;
$ioc-black:          #182825;
$ioc-link:           #337ab7;
$ioc-link-navbar:    #4bcdaf;
$ioc-link-carousel:  #07fddd;
$ioc-link2-carousel: rgba(59,88,96,0.90);
$ioc-login-bg:       rgba(59,88,96,0.74);
$ioc-white:          #ffffff;
$ioc-bg-gray:        #eeeeee;
$ioc-footer-heading: #333333;
$ioc-bg-news-layer:  rgba(246, 249, 255, 0.85);
$ioc-bg-fp:          #fc4c00;
$ioc-bg-fpmig:       lighten($ioc-bg-fp, 10%);
$ioc-bg-fpsup:       darken($ioc-bg-fp, 10%);
$ioc-featured-text:  #1b252d;
$ioc-matricula:      #bf0000;
$ioc-matricula-bd:   #8f0808;
$ioc-text:           #354959;
$ioc-title:          #364958;
$ioc-separator:      rgba(255,255,255,.3);
$ioc-footer-text:    #f9f9f9;
$ioc-footer-bottom:  #7b8f94;
$ioc-bg-footer-t:    #31525a;
$ioc-bg-footer-b:    #20373d;
$ioc-bg-pagination:  #a4fbef;
$ioc-bg-pag-mobile:  rgba(164, 251, 239, 0.25);
$ioc-bg-collapse:    #657c82;
$ioc-bg-study-date:  #fafeff;
$ioc-semiheader:     #fbecee;
$ioc-study-button:   #005578;
$ioc-study-tab:      #f0f8fc;
$ioc-moreinfo-tab:   #edf4f7;//#f1f9fd;
$ioc-bg-employment:  #f4f8ff;
$ioc-bd-employment:  #050708;
$ioc-featured-news:  #f08181;
$ioc-bg-moreinfo:    #d5e3fa;
$ioc-semiheader-mb:  #83a1b9;
$ioc-bg-form-login:  #f8faff;
$ioc-accent:         #01c1b9;
$ioc-submenu:        #ecf3f7;
$ioc-eoi-study:      #fc9601;
$ioc-fp-study:       #0f9e73;
$ioc-module-bottom:  #829cb0;
$ioc-backdrop:       #1e303e;
$ioc-header-mini:    55px;
$ioc-title-study1:   #fff2f3;
$ioc-title-study2:   #fff6e8;
$ioc-title-study3:   #e1fff6;
$ioc-title-study4:   #fbf9f5;
$ioc-title-study5:   #fce9ef;
$ioc-title-study6:   #eaeeff;
$ioc-article-date:   #728696;
$ioc-btx-assign:     #5651a2;
$ioc-table-th:       #d9e8f4;
$ioc-table-td:       rgba(185, 213, 234, 0.16);
$ioc-study-acfgs:    #476f7c;
$ioc-study-btx:      #6e6ca2;
$ioc-study-btx-mat:  #41b0c8;
$ioc-study-competic: #3154ff;
$ioc-study-eoi:      #fc9601;
$ioc-study-fesp:     #982649;
$ioc-study-fp:       #10b07f;
$ioc-study-fpd:      #edaa0e;
$ioc-study-ges:      #d14c5e;
$ioc-study-pau:      #53918f;
$ioc-title-module:   #5b6b78;
$ioc-title-ges:      #eb5066;
$ioc-faqs:           #293658;