$ioc-bg-header:      #005677;
$ioc-bd-header:      #111111;
$ioc-blue-standard:  #009cda;
$ioc-blue-dark:      #3351ad;//#0353a4;
$ioc-blue-heading:   #035f8c;
$ioc-black:          #182825;
$ioc-blue-lighter:   #b9d6f2;
$ioc-link:           #337ab7;
$ioc-link-navbar:    #4bcdaf;
$ioc-link-carousel:  #07fddd;
$ioc-link2-carousel: rgba(59,88,96,0.90);
$ioc-login-bg:       rgba(59,88,96,0.74);
$ioc-white:          #ffffff;
$ioc-yellow:         #fffb00;
$ioc-bg-gray:        #eeeeee;
$ioc-bg-button:      #265a88;
$ioc-gray-dark:      #5f574f;
$ioc-footer-link:    #666666;
$ioc-footer-heading: #333333;
$ioc-bg-default:     #ffffff;
$ioc-bg-news:        #f9f9f9;
$ioc-bg-ges:         #febf00;
$ioc-bg-btx:         #5bc8d5;
$ioc-bg-fp:          #fc4c00;
$ioc-bg-fpmig:       lighten($ioc-bg-fp, 10%);
$ioc-bg-fpsup:       darken($ioc-bg-fp, 10%);
$ioc-bg-eoi:         #71a137;
$ioc-bg-fpd:         #4a00d0;
$ioc-bg-ppags:       #ff8000;
$ioc-bg-meb:         #4d7aff;
$ioc-bg-fnr:         #d900d0;
$ioc-bg-entcol:      #00b259;
$ioc-bg-miniops:     #888888;
$ioc-featured-text:  #1b252d;
$ioc-matricula:      #bf0000;
$ioc-matricula-bd:   #8f0808;
$ioc-read-more:      #354959;
$ioc-title:          #364958;
$ioc-separator:      rgba(255,255,255,.3);
$ioc-footer-top:     #f9f9f9;
$ioc-footer-bottom:  #7b8f94;
$ioc-bg-footer-t:    #3a575f;
$ioc-bg-footer-b:    #284851;
$ioc-bg-pagination:  #a4fbef;
$ioc-bg-collapse:    #657c82;
$ioc-bg-study-data:  rgba(86, 248, 227, .4);// #56f8e3
$ioc-bg-semiheader:  #307591;
$ioc-semiheader:     #fbecee;
$ioc-study-button:   #005578;
$ioc-study-buttong:  #3aba56;
$ioc-study-tab:      #f5f5f5;
$ioc-study-a-tab:    #bbfcf4;